---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "main";

h5 > ol > li {
  text-align: left;
}

.side-nav li > form {
  padding: 0 32px;
}

nav ul form {
  padding: 5px 15px;
}

img.svg-logo {
  max-height: 76px;
}
