---
layout: default
---

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">

      <h1 class="header center orange-text">{{ site.title }}</h1>
      <div class="row center">
        <h5 class="header col s12 light">{{ content }}</h5>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">

      <!-- Icon Section -->
      <div class="row">
        <div class="col s12 m6 l4 xl4">
          <div class="icon-block">
            <h2 class="center light-blue-text">
              <a href="{{ site.app_store_url }}">
                <img src="img/google-play-badge.png">
              </a>
            </h2>
            <h5 class="center">Track My Indoor Workout Application</h5>

            <p class="light">Smash Strava cycling challenges which require recorded GPS route as well!
            </p>
          </div>
        </div>

        <div class="col s12 m6 l4 xl4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">speed</i></h2>
            <h5 class="center">Sensor readings</h5>

            <p class="light">Capable of reading the power meter and the cadence sensors as well</p>
          </div>
        </div>

        <div class="col s12 m6 l4 xl4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">directions_bike</i></h2>
            <h5 class="center">Strava integration and TCX download</h5>

            <p class="light">Capable of uploading the workout through Strava integration and offers TCX file download as well</p>
          </div>
        </div>

        <div class="col s12 m6 l4 xl4">
          <div class="icon-block">
            <h2 class="center light-blue-text">
              <form action="https://www.paypal.com/donate" method="post" target="_top">
                <input type="hidden" name="cmd" value="_donations" />
                <input type="hidden" name="business" value="5RV59VYDBAL52" />
                <input type="hidden" name="currency_code" value="USD" />
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
              </form>
            </h2>
            <h5 class="center">...only if you have some spare change, enjoy the app, and feel like donating</h5>

            <p class="light">This is a hobby project.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div style="background: #ddd">
    <div class="container last-post">
      <section>
        <h5>Guides</h5>
        <ul class="collection">
        {% for post in site.posts %}
        <li class="collection-item avatar">
          {% assign date_format = site.minima.date_format | default: "%m/%d" %}
          <div class="date-post">{{ post.date | date: date_format }}</div>
          <span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
          <p>
             {{ post.content | strip_html | truncatewords: 10 }}
          </p>
          <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
        </li>
        {% endfor %}
        </ul>  
      </section>
    </div>
  </div>

</div>
