---
layout: default
---

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">

      <h2 class="header center blue-text text-darken-4">Mission: improve people's health by preventing fitness machines from becoming laundry drying racks</h2>
      <div class="row center">
        <h5 class="header col s12 light">
          <p>
            Track My Indoor Workout is a free application to record stationary workouts.
            Workouts can have GPS routes - generated based on speed - and upload to
            <a href="{{ site.strava_url }}">Strava</a>, Under Armour
            (meaning <a href="{{ site.mapmyfitness_url }}">MapMyFitness</a> or <a href="{{ site.mapmyrun_url }}">MapMyRun</a>),
            <a href="{{ site.sports_tracker_url }}">SUUNTO</a>, <a href="{{ site.training_peaks_url }}">Training Peaks</a>,
            or can be downloaded in
            <a href="https://developer.garmin.com/fit/protocol/">FIT</a>,
            <a href="https://en.wikipedia.org/wiki/Training_Center_XML">TCX</a>, CSV, or JSON
            formats for analysis or ingestion to other fitness portals.
          </p>
        </h5>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">

      <!-- Icon Section -->
      <div class="row">
        <div class="col s12 m6 l4 xl4">
          <div class="icon-block">
            <h2 class="center blue-text text-darken-4">
              <a href="{{ site.app_store_url }}">
                <img class="responsive-img" src="img/google-play-badge.png">
              </a>
            </h2>
            <h5 class="center"><a href="{{ site.app_store_url }}">Track My Indoor Workout Android App</a></h5>
            <p class="light"><a href="{{ site.app_store_url }}">Google Play Store</a></p>
          </div>
        </div>

        <div class="col s12 m6 l4 xl4">
          <div class="icon-block">
            <h2 class="center blue-text text-darken-4">
              <a href="{{ site.quick_start_video_url }}">
                <i class="material-icons">videocam</i>
              </a>
            </h2>
            <h5 class="center"><a href="{{ site.quick_start_video_url }}">Quick Start Guide</a></h5>
            <p class="light"><a href="{{ site.quick_start_video_url }}">Watch this YouTube video</a></p>
          </div>
        </div>

        <div class="col s12 m6 l4 xl4">
          <div class="icon-block">
            <h2 class="center blue-text text-darken-4">
              <a href="https://kayakpro.com/">
                <img class="responsive-img" src="img/KayakPro_logo.png">
              </a>
            </h2>
            <h5 class="center">
              <a href="{{ site.kayakpro_url }}">KayakPro</a>,
              <a href="{{ site.swimfast_url }}">SwimFast</a>,
              <a href="{{ site.speedstroke_url }}">SpeedStroke Pro</a>
              kayak, canoe, and swim ergometer support
            </h5>
            <p class="light">via <a href="{{ site.speedstroke_url }}">Genesis Port smart console</a>
            </p>
          </div>
        </div>

        <div class="col s12 m6 l4 xl4">
          <div class="icon-block">
            <h2 class="center blue-text text-darken-4">
              <a href="{{ site.strava_url }}">
                <img class="responsive-img svg-logo" src="img/strava.svg">
              </a>
            </h2>
            <h5 class="center">Strava integration</h5>
            <p class="light">Upload workouts to Strava</p>
          </div>
        </div>

        <div class="col s12 m6 l4 xl4">
          <div class="icon-block">
            <h2 class="center blue-text text-darken-4">
              <a href="{{ site.mapmyfitness_url }}">
                <img class="responsive-img svg-logo" src="img/under-armour-2line.svg">
              </a>
            </h2>
            <h5 class="center">Under Armour integration</h5>
            <p class="light">Upload workouts to
              <a href="{{ site.mapmyfitness_url }}">MapMyFitness</a> or
              <a href="{{ site.mapmyrun_url }}">MapMyRun</a>
            </p>
          </div>
        </div>

        <div class="col s12 m6 l4 xl4">
          <div class="icon-block">
            <h2 class="center blue-text text-darken-4">
              <a href="{{ site.suunto_url }}">
                <img class="responsive-img svg-logo" src="img/suunto.svg">
              </a>
            </h2>
            <h5 class="center">SUUNTO integration</h5>
            <p class="light">Upload workouts to
              <a href="{{ site.sports_tracker_url }}">Sports Tracker</a>
            </p>
          </div>
        </div>

        <div class="col s12 m6 l4 xl4">
          <div class="icon-block">
            <h2 class="center blue-text text-darken-4">
              <a href="{{ site.training_peaks_url }}">
                <img class="responsive-img svg-logo" src="img/training-peaks-2line.svg">
              </a>
            </h2>
            <h5 class="center">Training Peaks integration</h5>
            <p class="light">Upload workouts to
              <a href="{{ site.training_peaks_url }}">Training Peaks</a>
            </p>
          </div>
        </div>

        <div class="col s12 m6 l4 xl4">
          <div class="icon-block">
            <h2 class="center blue-text text-darken-4"><i class="material-icons">sports</i></h2>
            <h5 class="center">FIT and TCX download</h5>
            <p class="light">Download workouts in FIT, TCX, CSV, or JSON formats</p>
          </div>
        </div>

        <div class="col s12 m6 l4 xl4">
          <div class="icon-block">
            <h2 class="center blue-text text-darken-4"><i class="material-icons">directions_bike</i></h2>
            <h5 class="center">Supporting Bluetooth Fitness Machines</h5>
            <p class="light">BLE FTMS Indoor Bikes, Treadmills and Rowers (kayaking, canoeing, rowing, and swimming)</p>
          </div>
        </div>

        <div class="col s12 m6 l4 xl4">
          <div class="icon-block">
            <h2 class="center blue-text text-darken-4">
              <form action="https://www.paypal.com/donate" method="post" target="_top">
                <input type="hidden" name="cmd" value="_donations" />
                <input type="hidden" name="business" value="5RV59VYDBAL52" />
                <input type="hidden" name="currency_code" value="USD" />
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                <img class="responsive-img" alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
              </form>
            </h2>
            <h5 class="center">Cheers!</h5>
            <p class="light">This is a hobby project.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="section">
      <h5>Examples of Supported Fitness Machines:</h5>
      <div class="row">
        <h5 class="header col s12 light">{{ content }}</h5>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <h5>Features</h5>
      <div class="row">
        <h5 class="header col s12 light">
          <ul>
            <li>Generate GPS track based on the speed readings, so you can participate in challenges requiring GPS data.</li>
            <li>Upload activities to <a href="{{ site.strava_url }}">Strava</a></li>
            <li>Upload activities to <a href="{{ site.sports_tracker_url }}">SUUNTO</a>
              (Sports Tracker fitness portal)
            </li>
            <li>Upload activities to Under Armour (<a href="{{ site.mapmyfitness_url }}">MapMyFitness</a> or
              <a href="{{ site.mapmyrun_url }}">MapMyRun</a> fitness portals)
            </li>
            <li>Upload activities to <a href="{{ site.training_peaks_url }}">Training Peaks</a></li>
            <li>Downloading activities in <a href="https://developer.garmin.com/fit/protocol/">FIT</a> or
              <a href="https://en.wikipedia.org/wiki/Training_Center_XML">TCX</a> format
            </li>
            <li><a href="https://www.kayakpro.com/kayakcanoe/kayak-genesis-port-smart-console/">KayakPro</a>,
              <a href="https://www.kayakpro.com/swimfast/">SwimFast</a>, and
              <a href="https://www.kayakpro.com/speedstrokepro/genesis-port-smart-console/">SpeedStroke Pro</a> support
              via <a href="https://www.kayakpro.com/kayakcanoe/kayak-genesis-port-smart-console/">Genesis Port Smart Console</a>
            </li>
            <li>Handle multi-sport devices, for example KayakPro's Genesis Port could cover kayaking, canoeing, rowing,
              or swimming activity. Sport can be picked per activity.
            </li>
            <li>Ability to pair heart rate monitors directly to the app (especially useful if the fitness machine's
              console doesn't have heart rate monitor capability)
            </li>
            <li>Split screen support (landscape mode is strictly for that purpose for now)</li>
            <li>Target Heart rate range support: configurable by explicit heart rate lower + upper values or
              lower + upper zones indexes. Visual warning if you are in-range, over, or under, and also
              audio warning is possible (one time or periodic) from a selection of sound effects
            </li>
            <li>Display zone index besides measurements, optional coloring of the measurement
              row based on zones
            </li>
            <li>Personal leaderboard: comparison of current effort with previous effort (based on past average speeds)</li>
            <li>Pacelight: speed coloring with blue or green based on behind or ahead positions</li>
            <li>Display leaderboard ranking below the speed reading and also optionally on the track</li>
            <li>Tune the calorie count by providing the expected calories vs the measured</li>
            <li>Tune power reading based on percentage adjustment for miscalibrated devices.
              Power reading tune may affect other measures if they are calculated based on power
              (for example calories or speed in some cases)
            </li>
            <li>Expand power tune adjustments to speed or calorie measurements (even in case they are not
              directly calculated from power)
            </li>
            <li>Configurable intermittent heart rate data gap handling: repeating last known value, mark as zeros
              or record nulls
            </li>
            <li>Limit maximum heart rate: configurable threshold and how the exceed events should be
              handled (keep it at the threshold, zero it out, or nullify)
            </li>
            <li>Ability of calculating calories based on heart rate and athlete age, weight, and gender.
              Optional extra VO2max value could make the equation even more precise.
            </li>
            <li>Dark / light mode support</li>
            <li>Suporting BLE FTMS standard Spin-Down (calibration) procedure sequence, tested with KayakPro</li>
          </ul>
        </h5>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <h5>Missing or Liked Features</h5>
      <div class="row">
        <h5 class="header col s12 light">
          <div class="pollly-embed" data-id="LavRoJ8W"></div>
        </h5>
      </div>
    </div>
  </div>

  <div style="background: #ddd">
    <div class="container last-post">
      <section>
        <h5>Guides</h5>
        <ul class="collection">
        {% for post in site.posts %}
        <li class="collection-item avatar no-bullet">
          {% assign date_format = site.minima.date_format | default: "%m/%d" %}
          <div class="date-post">{{ post.date | date: date_format }}</div>
          <span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
          <p>
             {{ post.content | strip_html | truncatewords: 10 }}
          </p>
          <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
        </li>
        {% endfor %}
        </ul>  
      </section>
    </div>
  </div>

</div>
