---
layout: default
---

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">

      <h4 class="header center blue-text text-darken-4">
        {{ site.application_name }}'s Mission: improve people's health by preventing fitness machines from becoming laundry drying racks
      </h4>
      <div class="row center">
        <h5 class="header col s12 light">
          <p>
            {{ site.application_name }} is a <a href="{{ site.app_source_repo }}">free and open source</a>
            application to record stationary workouts of smart fitness machines via Bluetooth Low Energy
            protocol. Workouts can have GPS routes - generated based on speed - and can be uploaded to
            <a href="{{ site.sports_tracker_url }}">SUUNTO</a>,
            <a href="{{ site.strava_url }}">Strava</a>,
            <a href="{{ site.training_peaks_url }}">Training Peaks</a>,
            Under Armour (meaning <a href="{{ site.mapmyfitness_url }}">MapMyFitness</a> or 
            <a href="{{ site.mapmyrun_url }}">MapMyRun</a>),
            or can be downloaded as
            <a href="https://developer.garmin.com/fit/protocol/">FIT</a>,
            <a href="https://en.wikipedia.org/wiki/Training_Center_XML">TCX</a>, CSV, or JSON
            files for analysis or ingestion to other fitness portals.
          </p>
        </h5>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">

      <!-- Icon Section -->
      <div class="row">
        <div class="col s12 m12 l6 xl6">
          <div class="card">
            <div class="card-content">
              <h4 class="center">
                <a href="{{ site.play_store_url }}">
                  <img class="responsive-img svg-logo" src="/img/Google_Play_Store_badge_EN.svg">
                </a>
              </h4>
            </div>
            <div class="card-action">
              <h5 class="center"><a href="{{ site.play_store_url }}">Android App</a></h5>
              <p class="light"><a href="{{ site.play_store_url }}">Google Play Store</a></p>
            </div>
          </div>
        </div>

        <div class="col s12 m12 l6 xl6">
          <div class="card">
            <div class="card-content">
              <h4 class="center">
                <a href="{{ site.galaxy_store_url }}">
                  <img class="responsive-img" src="/img/GalaxyStore_English.png">
                </a>
              </h4>
            </div>
            <div class="card-action">
              <h5 class="center"><a href="{{ site.galaxy_store_url }}">Android App</a></h5>
              <p class="light"><a href="{{ site.galaxy_store_url }}">Galaxy Store</a></p>
            </div>
          </div>
        </div>

        <div class="col s12 m12 l6 xl6">
          <div class="card">
            <div class="card-content">
              <h4 class="center">
                <a href="{{ site.huawei_appgallery_url }}">
                  <img class="responsive-img svg-logo" src="/img/huawei-app-gallery-badge.svg">
                </a>
              </h4>
            </div>
            <div class="card-action">
              <h5 class="center"><a href="{{ site.huawei_appgallery_url }}">Android App</a></h5>
              <p class="light"><a href="{{ site.huawei_appgallery_url }}">Huawei AppGallery (non-US)</a></p>
            </div>
          </div>
        </div>

        <div class="col s12 m12 l6 xl6">
          <div class="card">
            <div class="card-content">
              <h4 class="center">
                <a href="{{ site.apk_pure_url }}">
                  <i class="material-icons md-xxxx-large">android</i>
                </a>
              </h4>
            </div>
            <div class="card-action">
              <h5 class="center"><a href="{{ site.apk_pure_url }}">APK File</a></h5>
              <p class="light"><a href="{{ site.apk_pure_url }}">APK Pure link</a></p>
            </div>
          </div>
        </div>

        <div class="col s12 m12 l6 xl6">
          <div class="card">
            <div class="card-content">
              <h4 class="center">
                <a href="{{ site.quick_start_video_url }}">
                  <i class="material-icons md-xxxx-large">videocam</i>
                </a>
              </h4>
            </div>
            <div class="card-action">
              <h5 class="center"><a href="{{ site.quick_start_video_url }}">Quick Start Guide</a></h5>
              <p class="light"><a href="{{ site.quick_start_video_url }}">Watch this YouTube video</a></p>
            </div>
          </div>
        </div>

        <div class="col s12 m12 l6 xl6">
          <div class="card">
            <div class="card-content">
              <h4 class="center">
                <a href="{{ site.kayakpro_site_url }}">
                  <img class="responsive-img" src="/img/KayakPro_logo.png">
                </a>
              </h4>
            </div>
            <div class="card-action">
              <h5 class="center">
                <a href="{{ site.kayakpro_url }}">KayakPro</a>,
                <a href="{{ site.swimfast_url }}">SwimFast</a>,
                <a href="{{ site.speedstroke_url }}">SpeedStroke Pro</a>
              </h5>
              <p class="light">via <a href="{{ site.speedstroke_url }}">Genesis Port smart console</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m12 l6 xl6">
          <div class="card">
            <div class="card-content">
              <h4 class="center">
                <a href="{{ site.kayak_first_url }}">
                  <img class="responsive-img svg-logo" src="/img/KayakFirst_banner.svg">
                </a>
              </h4>
            </div>
            <div class="card-action">
              <h5 class="center">
                <a href="{{ site.kayak_first_url }}">KayakFirst</a> kayak and canoe ergometers
              </h5>
              <p class="light"><a href="{{ site.kayak_first_url }}">also Dragon boat and SUP ergs</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m12 l6 xl6">
          <div class="card">
            <div class="card-content">
              <h4 class="center">
                <a href="{{ site.mr_captain_url }}">
                  <img class="responsive-img" src="/img/mrcaptain.png">
                </a>
              </h4>
            </div>
            <div class="card-action">
              <h5 class="center">
                <a href="{{ site.mr_captain_rower_url }}">Mr. Captain rowing machines</a>
              </h5>
              <p class="light">with <a href="{{ site.mr_captain_rower_url }}">Bluetooth monitor</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m12 l6 xl6">
          <div class="card">
            <div class="card-content">
              <h4 class="center">
                <a href="{{ site.technogym_skillrow_url }}">
                  <img class="responsive-img" src="/img/technogym_logo.png">
                </a>
              </h4>
            </div>
            <div class="card-action">
              <h5 class="center">
                <a href="{{ site.technogym_skillrow_url }}">Technogym Skillrow / Aquafeel machines</a>
              </h5>
              <p class="light">with strokes per minute and heart rate</p>
            </div>
          </div>
        </div>

        <div class="col s12 m12 l6 xl6">
          <div class="card">
            <div class="card-content">
              <h4 class="center">
                <a href="{{ site.stages_sc3_url }}">
                  <img class="responsive-img svg-logo" src="/img/stages-logo.svg">
                </a>
              </h4>
            </div>
            <div class="card-action">
              <h5 class="center">
                <a href="{{ site.stages_sb20_url }}">Stages SB20</a> and
                <a href="{{ site.stages_sc3_url }}">Stages SC3</a> support
              </h5>
              <p class="light">latter via <a href="{{ site.stages_sic2_url }}">Stages SIC2 Console</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m12 l6 xl6">
          <div class="card">
            <div class="card-content">
              <h4 class="center">
                <a href="{{ site.wahoo_kickr_url }}">
                  <img class="responsive-img svg-logo" src="/img/wahoo-logo.svg">
                </a>
              </h4>
            </div>
            <div class="card-action">
              <h5 class="center">
                <a href="{{ site.wahoo_kickr_url }}">Wahoo KICKR</a> and
                <a href="{{ site.wahoo_rpm_speed_sensor_url }}">RPM sensors</a>
              </h5>
              <p class="light">
                (<a href="{{ site.wahoo_rpm_speed_sensor_url }}">RPM Speed</a> and
                <a href="{{ site.wahoo_rpm_cadence_sensor_url }}">Cadence Sensors</a>)
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m12 l6 xl6">
          <div class="card">
            <div class="card-content">
              <h4 class="center">
                <a href="{{ site.suunto_url }}">
                  <img class="responsive-img svg-logo" src="/img/suunto.svg">
                </a>
              </h4>
            </div>
            <div class="card-action">
              <h5 class="center">SUUNTO integration</h5>
              <p class="light">Upload workouts to
                <a href="{{ site.sports_tracker_url }}">Sports Tracker</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m12 l6 xl6">
          <div class="card">
            <div class="card-content">
              <h4 class="center">
                <a href="{{ site.strava_url }}">
                  <img class="responsive-img svg-logo" src="/img/strava.svg">
                </a>
              </h4>
            </div>
            <div class="card-action">
              <h5 class="center">Strava integration</h5>
              <p class="light">Upload workouts to Strava</p>
            </div>
          </div>
        </div>

        <div class="col s12 m12 l6 xl6">
          <div class="card">
            <div class="card-content">
              <h4 class="center">
                <a href="{{ site.training_peaks_url }}">
                  <img class="responsive-img svg-logo" src="/img/training-peaks-2line.svg">
                </a>
              </h4>
            </div>
            <div class="card-action">
              <h5 class="center">Training Peaks integration</h5>
              <p class="light">Upload workouts to
                <a href="{{ site.training_peaks_url }}">Training Peaks</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m12 l6 xl6">
          <div class="card">
            <div class="card-content">
              <h4 class="center">
                <a href="{{ site.mapmyfitness_url }}">
                  <img class="responsive-img svg-logo" src="/img/under-armour-2line.svg">
                </a>
              </h4>
            </div>
            <div class="card-action">
              <h5 class="center">Under Armour integration</h5>
              <p class="light">Upload workouts to
                <a href="{{ site.mapmyfitness_url }}">MapMyFitness</a> or
                <a href="{{ site.mapmyrun_url }}">MapMyRun</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m12 l6 xl6">
          <div class="card">
            <div class="card-content">
              <h4 class="center"><i class="material-icons md-xxxx-large">sports</i></h4>
            </div>
            <div class="card-action">
              <h5 class="center">FIT and TCX download</h5>
              <p class="light">Download workouts in FIT, TCX, CSV, or JSON formats</p>
            </div>
          </div>
        </div>

        <div class="col s12 m12 l6 xl6">
          <div class="card">
            <div class="card-content">
              <h4 class="center"><i class="material-icons md-xxxx-large">directions_bike</i></h4>
            </div>
            <div class="card-action">
              <h5 class="center">Supporting Bluetooth Fitness Machines</h5>
              <p class="light">BLE FTMS fitness machines (multi sport)</p>
            </div>
          </div>
        </div>

        <div class="col s12 m12 l6 xl6">
          <div class="card">
            <div class="card-content">
              <h4 class="center">
                <a href="/donate/">
                  <i class="material-icons md-xxxx-large">coffee</i>
                </a>
              </h4>
            </div>
            <div class="card-action">
              <h5 class="center">Donate</h5>
              <p class="light">This is a hobby project.</p>
            </div>
          </div>
        </div>

        <div class="col s12 m12 l6 xl6">
          <div class="card">
            <div class="card-content">
              <h4 class="center">
                <a href="{{ site.app_issues }}">
                  <i class="material-icons md-xxxx-large">bug_report</i>
                </a>
              </h4>
            </div>
            <div class="card-action">
              <h5 class="center"><a href="{{ site.app_issues }}">Bug Reports or Feature Requests</a></h5>
              <p class="light"><a href="{{ site.app_source_repo }}">The source code of the application</a></p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="section">
      <h5>Examples of Supported Fitness Machines:</h5>
      <div class="row">
        <h5 class="header col s12 light">{{ content }}</h5>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <h5>Features</h5>
      <div class="row">
        <h5 class="header col s12 light">
          <ul>
            <li>Generate GPS track based on the speed readings, so you can participate in challenges requiring GPS data.</li>
            <li>Upload activities to <a href="{{ site.strava_url }}">Strava</a></li>
            <li>Upload activities to <a href="{{ site.sports_tracker_url }}">SUUNTO</a>
              (Sports Tracker fitness portal)
            </li>
            <li>Upload activities to Under Armour (<a href="{{ site.mapmyfitness_url }}">MapMyFitness</a> or
              <a href="{{ site.mapmyrun_url }}">MapMyRun</a> fitness portals)
            </li>
            <li>Upload activities to <a href="{{ site.training_peaks_url }}">Training Peaks</a></li>
            <li>Downloading activities in <a href="https://developer.garmin.com/fit/protocol/">FIT</a> or
              <a href="https://en.wikipedia.org/wiki/Training_Center_XML">TCX</a> format
            </li>
            <li><a href="{{ site.kayakpro_url }}">KayakPro</a>,
              <a href="{{ site.swimfast_url }}">SwimFast</a>, and
              <a href="{{ site.speedstroke_url }}">SpeedStroke Pro</a> support
              via <a href="{{ site.kayakpro_url }}">Genesis Port Smart Console</a>
            </li>
            <li>Handle multi-sport devices, for example KayakPro's Genesis Port could cover kayaking, canoeing, rowing,
              or swimming activity. Sport can be picked per activity.
            </li>
            <li>Ability to pair heart rate monitors directly to the app (especially useful if the fitness machine's
              console doesn't have heart rate monitor capability)
            </li>
            <li>Split screen support (landscape mode is strictly for that purpose for now)</li>
            <li>Target Heart rate range support: configurable by explicit heart rate lower + upper values or
              lower + upper zones indexes. Visual warning if you are in-range, over, or under, and also
              audio warning is possible (one time or periodic) from a selection of sound effects
            </li>
            <li>Display zone index besides measurements, optional coloring of the measurement
              row based on zones
            </li>
            <li>Personal leaderboard: comparison of current effort with previous effort (based on past average speeds)</li>
            <li>Pacelight: speed coloring with blue or green based on behind or ahead positions</li>
            <li>Display leaderboard ranking below the speed reading and also optionally on the track</li>
            <li>Tune the calorie count by providing the expected calories vs the measured</li>
            <li>Tune power reading based on percentage adjustment for miscalibrated devices.
              Power reading tune may affect other measures if they are calculated based on power
              (for example calories or speed in some cases)
            </li>
            <li>Expand power tune adjustments to speed or calorie measurements (even in case they are not
              directly calculated from power)
            </li>
            <li>Configurable intermittent heart rate data gap handling: repeating last known value, mark as zeros
              or record nulls
            </li>
            <li>Limit maximum heart rate: configurable threshold and how the exceed events should be
              handled (keep it at the threshold, zero it out, or nullify)
            </li>
            <li>Ability of calculating calories based on heart rate and athlete age, weight, and gender.
              Optional extra VO2max value could make the equation even more precise.
            </li>
            <li>Dark / light mode support</li>
            <li>Supporting BLE FTMS standard Spin-Down (calibration) procedure sequence, tested with KayakPro</li>
          </ul>
        </h5>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <h5>Bugs or Missing Features</h5>
      <div class="row">
        <h5 class="header col s12 light">
          Please report any application bugs or feature request <a href="mailto:{{ site.email }}">by email</a>
          or directly to the <a href="{{ site.app_issues }}">application's GitHub repository</a>
          if you have a GitHub account.
          (For issues of this website you can use <a href="{{ site.website_issues }}">this GitHub repository</a>).
        </h5>
      </div>
    </div>
  </div>

  <div style="background: #ddd">
    <div class="container last-post">
      <section>
        <h5>Guides</h5>
        <ul class="collection">
        {% for post in site.posts %}
        <li class="collection-item avatar no-bullet">
          {% assign date_format = site.minima.date_format | default: "%m/%d" %}
          <div class="date-post">{{ post.date | date: date_format }}</div>
          <span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
          <p>
             {{ post.content | strip_html | truncatewords: 10 }}
          </p>
          <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
        </li>
        {% endfor %}
        </ul>  
      </section>
    </div>
  </div>

</div>
